<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form [formGroup]="employeeForm" (ngSubmit)="save()" novalidate>
        <div class="form-group row">
            <label class=" control-label col-md-12" for="nomePessoa">Nome</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="nomePessoa">
            </div>
            <span class="text-danger" *ngIf="nomePessoa.invalid">
                Nome é obirgatorio
            </span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="cpfPessoa">Cpf</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="cpfPessoa">
            </div>
            <!--<span class="text-danger" *ngIf="cpf.invalid && formDir.submitted">
                Cpf é obrigatorio
            </span>-->
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="emailPessoa">E-mail</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="emailPessoa">
            </div>
            <!--<span class="text-danger" *ngIf="emailPessoa.invalid && formDir.submitted">
                Email é obrigatorio
            </span>-->
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12" for="dtNascimento">Data de nascimento:</label>
            <div class="col-md-4">
                <input class="form-control" type="text" formControlName="dtNascimento">
            </div>
            <!--<span class="text-danger" *ngIf="dtNascimento.invalid && formDir.submitted">
                campo obrigatorio
            </span>-->
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Cadastrar</button>

        </div>
    </form>
</body>
</html>